

<div class="col-md-6 col-md-offset-3 col-lg-9 col-lg-offset-5">
  <h2>登陆页面</h2>
  <form name="form" (ngSubmit)="login()" novalidate>
    <!-- 用户名 -->
    <div class="form-group" [ngClass]="{ 'has-error': invalidUsername() }">
      <!-- 气泡提示 -->
      <div class="bubble-alert">
        <div *ngIf="invalidSubmitUsername()" class="help-info">您忘了输入用户名</div>
        <div *ngIf="invalidFormat()" class="help-info">用户名格式不对哦</div>
      </div>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-user"></span>
        <input type="text"
               placeholder="手机号/邮箱"
               class="form-control"
               (focus)="usernameFocus()"
               (blur)="usernameBlur()"
               name="username"
               [(ngModel)]="username"
               #username
               [ngStyle]="setCurrentStyles()"
               autofocus />
      </div>
    </div>


    <!-- 密码 -->
    <div class="form-group" [ngClass]="{ 'has-error': invalidPassword() }">
      <!-- 气泡提示 -->
      <div class="bubble-alert">
        <div *ngIf="invalidPassword()" class="help-info">密码不能为空或无效字符</div>
      </div>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-lock"></span>
        <input type="password"
               placeholder="密码"
               class="form-control"
               (focus)="passwdFocus()"
               name="password"
               [(ngModel)]="password"
               #password="ngModel"
               [ngStyle]="setCurrentPasswordStyles()"
               />
      </div>

    </div>
    <div class="form-group">
      <button type="submit" [disabled]="loading" class="btn btn-primary">登录</button>
      <img *ngIf="loading"
           src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
      <a [routerLink]="['/register']" class="btn btn-link">没有账号？去注册</a>
    </div>
  </form>
</div>



